*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    width: 1173px;
    margin: auto;
    margin-top: 30px;
}

.mainHeader h3{
    font-family: 'Roboto';
    font-size: 30px;
    line-height: 30px;
    color: #34495E;
    font-weight: normal;
    margin-bottom: 20px;
}

.mainHeader p{
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 23px;
    color: #A1B1BC;
    font-weight: normal;
    margin-bottom: 30px;
}

.lists{
    display: flex;
}

.lists .col-1, .lists .col-2, .lists .col-3{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}

.lists .col-1{
    margin-left: 0px;
}

.lists ul li{
    display: inline-block;
    position: relative;

}

.lists .block{
    width: 17px;
    height: 17px;
    background-color: #34495E;
    float: left;
    margin-right: 20px;
    border-radius: 3px;
}

.lists .col-2 .block{
    background-color: #fff;
    border: 1px solid #A1B1BC;
}

.lists span{
   float: right;
   font-size: 14px;
   line-height: 30px;
   color: #A1B1BC;
  
}

