main{
    width: 1000px;
    margin: 0 auto;
}

.cell.col-1{
    float: left;
    width: 100px;
    height: 300px;
}

.cell.col-1-1{
    background-color: yellow;
    width: 100%;
    height: 200px;
    float: left;
}

.cell.col-1-2{
    background-color: red;
    width: 100%;
    height: 100px;
    float: left;
}

.cell.col-2{
    float: left;
    width: 200px;
    height: 300px;
}

.cell.col-2-1{
    background-color: green;
    width: 100%;
    height: 80px;
    float: left;
}

.cell.col-2-2{
    background-color: blue;
    width: 100%;
    height: 120px;
    float: left;
}

.cell.col-2-3{
    background-color: tomato;
    width: 100%;
    height: 100px;
    float: left;
}

.cell.col-3{
    float: left;
    width: 100px;
    height: 300px;
}

.cell.col-3-1{
    background-color: black;
    width: 100%;
    height: 80px;
    float: left;
}

.cell.col-3-2{
    background-color: pink;
    width: 100%;
    height: 220px;
    float: left;
}

.cell.col-4{
    float: left;
    width: 300px;
    height: 300px;
}

.cell.col-4-1{
    background-color: green;
    width: 100%;
    height: 80px;
    float: left;
}

.cell.col-4-2{
    background-color: goldenrod;
    width: 100%;
    height: 220px;
    float: left;
}

.cell.col-5{
    float: left;
    width: 200px;
    height: 300px;
}

.cell.col-5-1{
   /* background-color: darkolivegreen; */
    width: 100%;
    height: 200px;
    float: left;
}

.cell.col-5-1-1{
    float: left;
    width: 150px;
    height: 150px;
    background-color: darkolivegreen;
}

.cell.col-5-2-1{
    float: left;
    width: 150px;
    height: 50px;
    background-color: gold;
}

.cell.col-5-1-2{
    float: right;
    width: 50px;
    height: 200px;
    background-color: blue;
}



.cell.col-5-2{
    background-color: khaki;
    width: 100%;
    height: 100px;
    float: left;
}

.cell.col-6{
    float: left;
    width: 50px;
    height: 300px;
}

.cell.col-6-1{
    background-color: red;
    width: 100%;
    height: 300px;
    float: left;
}

.cell.col-7{
    float: left;
    width: 50px;
    height: 300px;
}

.cell.col-7-1{
    background-color: yellowgreen;
    width: 100%;
    height: 300px;
    float: right;
}

.firstColl{
    height: 600px;
    width: 400px;
    float: left;
}

.fC.col-1{
    width: 100%;
    height: 80px;
    float: left;
    background-color: darkblue;
}

.fC.col-2{
    width: 100%;
    height: 80px;
    float: left;
    background-color: yellow;
}

.fC.col-3{
    width: 100%;
    height: 140px;
    float: left;
    background-color: khaki; 
}

.fC.col-4-1{
    width: 120px;
    height: 300px;
    float: left;
    background-color: blueviolet; 
}

.fC.col-4-2{
    width: 160px;
    height: 300px;
    float: left;
}


.fC.col-4-2-1{
    width: 160px;
    height: 80px;
    float: left;
    background-color: red; 
}

.fC.col-4-2-2{
    width: 160px;
    height: 220px;
    float: left;
    background-color: blue; 
}


.fC.col-4-3{
    width: 120px;
    height: 300px;
    float: right;
    background-color: burlywood; 
}

.secondColl{
    height: 600px;
    width: 300px;
    float: left;
}

.sC.col-1-1{
    width: 150px;
    float: left;
    height: 300px;
    background-color: bisque;
}

.sC.col-1-2-1{
    width: 150px;
    float: left;
    height: 80px;
    background-color: red;
}
.sC.col-1-2-2{
    width: 150px;
    float: left;
    height: 220px;
    background-color: yellow;
}

.sC.col-2{
    height: 300px;
    width: 300px;
    float: left;
    background-color: tomato;
}

.thirdColl{
    height: 600px;
    width: 300px;
    float: right;
}

.tC.col-1-1{
    float: left;
    background-color: black;
    width: 200px;
    height: 100px;
}

.tC.col-1-2{
    float: left;
    background-color: peru;
    width: 100px;
    height: 100px;
}

.tC.col-2-1{
    float: left;
    background-color: yellowgreen;
    width: 140px;
    height: 100px;
}

.tC.col-2-2{
    float: left;
    background-color: purple;
    width: 60px;
    height: 100px;
}

.tC.col-2-3{
    float: left;
    background-color: palegreen;
    width: 100px;
    height: 100px;
}

.tC.col-3-1{
    width: 100px;
    height: 250px;
    float: left;
    background-color: gray;
}

.tC.col-3-3-1{
    width: 200px;
    height: 150px;
    float: left;
    background-color: yellow;
}

.tC.col-3-3-2{
    width: 200px;
    height: 100px;
    float: left;
    background-color: red;
}

.tC.col-4-1{
    width: 300px;
    height: 150px;
    float: left;
    background-color: royalblue;
}

