
.main{
    width: 100%;
    height: 100%;
}

.img{
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.main .Second{
    background-color: black;
    position: relative;
}

.main .Second span{
    font-size: 50px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}